# Import Preparations

In [8]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [10]:
# Separator is a comma (,) dan kita pakai header=none agar pandas tidak otomatis ambil baris pertama sebagai header
df_data_correlation = pd.read_csv('../data/data_correlation.csv', sep=',', header=None)

In [12]:
df_data_correlation

        0
0    1.00
1    0.20
2    2.00
3    0.30
4    3.00
5    0.50
6    4.00
7    0.40
8    5.00
9    0.70
10   6.00
11   0.80
12   7.00
13   0.10
14   8.00
15   0.90
16   9.00
17   0.11
18  10.00
19   0.13
20  11.00
21   0.14
22  12.00
23   0.15
24  13.00
25   0.16
26  14.00
27   0.18
28  15.00
29   0.19

# Separating into Two Columns

In [14]:
# Kita convert dataframe ke list menggunakan .tolist, df_data_correlation[0] disini 0 adalah header=none di atas
values = df_data_correlation[0].tolist()

In [16]:
print(values)

[1.0, 0.2, 2.0, 0.3, 3.0, 0.5, 4.0, 0.4, 5.0, 0.7, 6.0, 0.8, 7.0, 0.1, 8.0, 0.9, 9.0, 0.11, 10.0, 0.13, 11.0, 0.14, 12.0, 0.15, 13.0, 0.16, 14.0, 0.18, 15.0, 0.19]

In [18]:
# kita bikin list kosong dulu utk memisahkan bilangan integer dan float
integers = []
floats = []

# kita pisahkan di sini
# kita loop pakai for i (index baris) dam value dari baris tersebut lalu menggunakan enumerate kita hitung list pada (values) utk kemudian
# kita tambahkan ke masing-masing list kosong yang sudah dibuat (integers atau floats)
# bagaimana cara memisahkan yang mana masuk list mananya terletak pada kondisi if nya
for i, value in enumerate(values): #enumerate itu mengecek/menghitung angka yang sedang dilihat pada list (values) utk direturn
    if i % 2 == 0:  # bila i atau index baris modulus 2 == 0 itu berarti index baris angka genap (0, 2, 6, 8 dst)
        integers.append(value) # kalau index baris genap kita masukkan value pada index bersangkutan yang direturn ke dalam list integers pakai append
    else:  # bila i atau index baris modulus 2 != 0 itu berarti index baris angka genap (1, 3, 5, 7 dst)
        floats.append(value) # kalau index baris genap kita masukkan value pada index bersangkutan yang direturn ke dalam list floats pakai append

# Gabungkan list integers dan list floats menjadi berpasangan
combined_list = list(zip(integers, floats))

In [20]:
for i, value in enumerate(values):
    print(i, value)

0 1.0
1 0.2
2 2.0
3 0.3
4 3.0
5 0.5
6 4.0
7 0.4
8 5.0
9 0.7
10 6.0
11 0.8
12 7.0
13 0.1
14 8.0
15 0.9
16 9.0
17 0.11
18 10.0
19 0.13
20 11.0
21 0.14
22 12.0
23 0.15
24 13.0
25 0.16
26 14.0
27 0.18
28 15.0
29 0.19

In [82]:
# List yang sdh dicombine tinggal di panggil pakai data frame baru df_pairs lalu kita beri header columns supaya lebih presentable
df_pairs = pd.DataFrame(combined_list, columns=['Integer', 'Float'])

In [84]:
print(df_pairs)

    Integer  Float
0       1.0   0.20
1       2.0   0.30
2       3.0   0.50
3       4.0   0.40
4       5.0   0.70
5       6.0   0.80
6       7.0   0.10
7       8.0   0.90
8       9.0   0.11
9      10.0   0.13
10     11.0   0.14
11     12.0   0.15
12     13.0   0.16
13     14.0   0.18
14     15.0   0.19