In [25]:
import pandas as pd
import seaborn as sns
import numpy as np

In [26]:
data_relation = pd.read_csv('C:\\Users\\Bayu\\anaconda3\\Lib\\site-packages\\pandas\\io\\parsers\\data_correlation.csv' , sep=',' , header=None)

In [27]:
data_relation

        0
0    1.00
1    0.20
2    2.00
3    0.30
4    3.00
5    0.50
6    4.00
7    0.40
8    5.00
9    0.70
10   6.00
11   0.80
12   7.00
13   0.10
14   8.00
15   0.90
16   9.00
17   0.11
18  10.00
19   0.13
20  11.00
21   0.14
22  12.00
23   0.15
24  13.00
25   0.16
26  14.00
27   0.18
28  15.00
29   0.19

In [28]:
values = data_relation[0].tolist()
data_a = []
data_b = []

In [29]:
for i, value in enumerate(values):
    if i % 2 == 0:
        data_a.append(value)
    else:
        data_b.append(value)

combined_list = list(zip(data_a, data_b))

In [30]:
df_pairs = pd.DataFrame(combined_list, columns=['data 1', 'data 2'])
print(df_pairs)

    data 1  data 2
0      1.0    0.20
1      2.0    0.30
2      3.0    0.50
3      4.0    0.40
4      5.0    0.70
5      6.0    0.80
6      7.0    0.10
7      8.0    0.90
8      9.0    0.11
9     10.0    0.13
10    11.0    0.14
11    12.0    0.15
12    13.0    0.16
13    14.0    0.18
14    15.0    0.19

In [31]:
#example from chat GPT

def transform_to_csv(data):
    # Check if the data length is even
    if len(data) % 2 != 0:
        raise ValueError("The input data should have an even number of items.")
    
    # Group the items in pairs
    grouped_data = [f"{data[i]}, {data[i+1]}" for i in range(0, len(data), 2)]
    
    # Join the grouped pairs with newline characters
    csv_data = "\n".join(grouped_data)
    
    return csv_data

# Input data
data = [
    1, 0.2, 2, 0.3, 3, 0.5, 4, 0.4, 5, 0.7, 6, 0.8, 
    7, 0.10, 8, 0.9, 9, 0.11, 10, 0.13, 11, 0.14, 
    12, 0.15, 13, 0.16, 14, 0.18, 15, 0.19
]

# Transform the data
csv_result = transform_to_csv(data)
print(csv_result)

1, 0.2
2, 0.3
3, 0.5
4, 0.4
5, 0.7
6, 0.8
7, 0.1
8, 0.9
9, 0.11
10, 0.13
11, 0.14
12, 0.15
13, 0.16
14, 0.18
15, 0.19